*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color: #000
}

.intro{
    width:100%;
    height:400px;
    background:black
}
.intro1{
    width:100%;
    width:100%;
    height:50px
}
.name > a{
    color:#fff;
    font-size:50px;
    margin-left:15px;
}
.header{
    margin-top:10px;
    display:flex;
    float:right;
    margin-right:50px;
    width:250px
}
.login > a{
    flex:1;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    color:#fff
}
.intro2{
    width:100%;
    height:70px
}
.nav{
    display:flex;
    justify-content:flex-end;
    line-height:86px;
    margin-right:150px
}
.nav>li{
    margin-left:50px;
    cursor:pointer;
    font-size:30px
}
.nav>li>a{
    color:#fff
}


/* sign_in.html > div class="main" */

/* 공통 요소 */



/* ------------------ */

.information_list {
    width:100%;
    height: 610px;
    background: #f1f2f3;
    text-align:center;    
}

.blank {
    width:100%;
    height: 70px;
}


.signup_box {
    background: white;
    text-align:center;
    font-weight:bold;
    letter-spacing: 2px;
    font-size:40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 420px;
    margin: auto;
    
}

.email {
    font-size:23px;
    margin-top:-340px;
    margin-left: -460px
}

.signupbox {
    margin-left:115px;
}

.signup_button {
    width:4%;
    margin-left:1600px;
    border-style: solid;
    background-color: black;
    color:white;
    border-radius: 10px;
}

.name {
    margin-left:180px;
}

.birth {
    margin-left:450px;
}
/* 맨 아래 contact */

.contact{
    display:flex;
    width:100%;
    height:300px;
    background:black;
}
.con{
    flex:8;
    margin-left:20px;
    margin-top:70px;
    font-size:25px;
    font-weight:lighter;
    color:#fff;
}
.contact > a{
    flex:4;
    text-align:center;
    font-size:57px;
    margin:auto;
    color:#fff;
}