*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color: #000
}
.intro{
    width:100%;
    height:400px;
    background:black
}
.intro1{
    width:100%;
    width:100%;
    height:50px
}
.name>a{
    color:#fff;
    font-size:50px;
    margin-left:15px;
}
.header{
    margin-top:10px;
    display:flex;
    float:right;
    margin-right:50px;
    width:250px
}
.login > a{
    flex:1;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    color:#fff
}
.intro2{
    width:100%;
    height:70px
}
.nav{
    display:flex;
    justify-content:flex-end;
    line-height:86px;
    margin-right:150px
}
.nav>li{
    margin-left:50px;
    cursor:pointer;
    font-size:30px
}
.nav>li>a{
    color:#fff
}
.button{ 
    margin-top:10px;
    margin-left:10px;
    width:200px;
    height:250px;
    font-size:20px;
    background:#f1f2f3;
}
.title{
    width:80%;
    height:200px;
    margin-left:220px;
    margin-top:-250px;
    background:#f1f2f3;
    font-size:40px;
    font-style:bold;
}
.nav1{
    width:700px;
    height:100px;
    display:flex;
    line-height:80px;
}
.nav1>li{
    flex:1;
    font-size:30px;
}
.play{
    margin-top:20px;
    width:80%;
    height:500px;
    margin-left:220px;
    display:flex;
    font-size:40px;
    font-style:bold;
    background:#f1f2f3;
}
.contents{
    margin-top:45px;
    height:400px;
    width:900px;
    background:#fff;
    float:left;
    font-size:30px;
}
.stone_pic{
    margin-top:45px;
    width:530px;
    height:400px;
    background-image:url("stone.jpg")
}
.jackstone_pic{
    width:530px;
    margin-top:45px;
    height:400px;
    background-image:url("jackstone.jpg");
    margin-left:55px;
}
.yut_pic{
    margin-top:45px;
    width:530px;
    height:400px;
    background-image:url("yutnori.jpg")
}
.food > h2{
    font-size:40px;
    font-style:bold
}